<%= simple_form_for @book do |f| %>
  <%if @book.errors.any? %>
    <div id="error_explanation">
      <h2>
      <%= pluralize(@book.errors.count, "error") %> occured:
      </h2>
      <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :title %>
    <%= f.input :author %>
    <%= f.input :year, label: "Year Published" %>
    <%= f.input :genre, as: :radio_buttons, collection: [["fiction", "fiction"], ["nonfiction", "non-fiction"]], label_method: :second, value_method: :first %>
    <%= f.input :owned_since, start_year: 1990, end_year: Date.today.year, order: [:month, :day, :year] %>
    <%= f.input :format, label: "Format:", as: :radio_buttons, collection: [["fiction", "paperback"], ["hardcover", "hardcover"], ["pdf", "PDF"], ["epubmobi", "EPUB/MOBI"]], label_method: :second, value_method: :first %>
    <%= f.input :read %>
    <%= f.input :notes %>
    <%= f.submit %>
<% end %>