<%= simple_form_for @item do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2>
      <%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :title, label: "Item name" %>
  <%= f.input :owned_since, start_year: 1990, end_year: Date.today.year, order: [:month, :day, :year] %>
  <%= f.input :broken, label: "This item is broken" %>
  <%= f.input :info, label: "Additional info" %>
  <%= f.input :location, label: "Item location: ", as: :radio_buttons, collection: [[1, 'Home'], [2, 'My brother'], [3,'My mother']], label_method: :second, value_method: :first %>
  <%= f.submit %>

<% end %>