<%= form_with model: @item, local: true do |form| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2>
      <%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
    <%= form.label :title %>
    <%= form.text_field :title %>
  
  
    <%= form.label :owned_since %>
    <%= form.date_select :owned_since, start_year: 1990, end_year: Date.today.year, order: [:month, :day, :year] %>
  
  
    <%= form.label :info %>
    <%= form.text_area :info, size: "60x12" %>
  
  
    <%= form.check_box :broken %>
    <%= form.label :broken, 'This item is broken' %><br>  
  
    <%= form.label :location, 'Location:' %>
    <%= form.select(:location, [['Home', 1], ['My brother', 2], ['My mother',3]]) %>
  
  
    <%= form.submit %>
  
<% end %>