<%= link_to "+", new_item_path, class: "pull-right button primary" %>
<h1>items</h1>
<table class="striped">
  <tr>
    <th>Title</th>
    <th>Owned since</th>
    <th>Broken?</th>
    <th>Location</th>
    <th>Info</th>
    <th>Edit</th>
  </tr>
  <% @items.each do |item| %>
    <tr>
      <td><%= link_to item.title, item_path(item) %></td>
      <td><%= item.owned_since %></td>
      <td><%= item.broken ? "yes" : "no" %></td>
      <td><%= item.location %></td>
      <td><%= item.info %></td>
      <td><%= link_to 'edit', edit_item_path(item)%> <%= link_to 'delete', item_path(item), method: :delete, data: { confirm: 'Are you sure you want to delete this item?' } %></td>
    </tr>
  <% end %>

</table>
