<p>
  <strong><%= @item.title %></strong>
</p>
<p>
  Owned since: <%= @item.owned_since %>
</p>
<p>
  Broken: <%= @item.broken %>
</p>
<p>
  Location: <%= @item.location %>
</p>
<p>
  Info: <%= @item.info %>
</p>